
.progress{
    background-color: #d8d8d8;
    border-radius: 20px;
    height: 30px;
    width: 300px;

}

.progress-done{
    background: linear-gradient(to left,rgb(21, 235, 57),rgb(138, 248, 156));
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.html{
    height: 100%;
    width: 260px;
}

.css{
    height: 100%;
    width: 250px;
}

.js{
    height: 100%;
    width: 200px;
}

.py{
    height: 100%;
    width: 220px;
}